<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift-server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>swift-server.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
